In [40]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [44]:
data=pd.read_csv('airports.csv')
print(data.head()) ## visualisation initiale de la table
data.drop(['wikipedia_link','home_link'],axis=1,inplace=True) ## enlever les colonnes non pertinente

       id ident           type                                name  \
0    6523   00A       heliport                   Total Rf Heliport
1  323361  00AA  small_airport                Aero B Ranch Airport
2    6524  00AK  small_airport                        Lowell Field
3    6525  00AL  small_airport                        Epps Airpark
4    6526  00AR         closed  Newport Hospital & Clinic Heliport

   latitude_deg  longitude_deg  elevation_ft continent iso_country iso_region  \
0     40.070801     -74.933601          11.0       NaN          US      US-PA
1     38.704022    -101.473911        3435.0       NaN          US      US-KS
2     59.947733    -151.692524         450.0       NaN          US      US-AK
3     34.864799     -86.770302         820.0       NaN          US      US-AL
4     35.608700     -91.254898         237.0       NaN          US      US-AR

   municipality scheduled_service gps_code iata_code local_code home_link  \
0      Bensalem                no      00A       NaN        00A       NaN
1         Leoti                no     00AA       NaN       00AA       NaN
2  Anchor Point                no     00AK       NaN       00AK       NaN
3       Harvest                no     00AL       NaN       00AL       NaN
4       Newport                no      NaN       NaN        NaN       NaN

  wikipedia_link keywords
0            NaN      NaN
1            NaN      NaN
2            NaN      NaN
3            NaN      NaN
4            NaN     00AR

## Conversion de l'altitude en m√®tres

In [47]:
# convertir elevation en metres
#data['elevation_ft']=data['elevation_ft']/3.2808
#change attribut name
#data.rename(columns={'elevation_ft':'elevation_m'},inplace=True)
data.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_m,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,3.352841,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,1047.000732,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,137.161668,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,249.939039,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,72.238478,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,00AR